*{
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 232, 214);
    font-family: Arial;
}
.header{
    text-align: center;
    padding: 30px;
    background-color: white;
}
.topnav{
    background-color: rgb(36, 34, 34);
    overflow: hidden;
}
.topnav a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    float: left;
    display: block;
    transition: all ease 0.3s;
}
.topnav a:hover{
    background-color: bisque;
    color: black;
}
.leftcol{
    float: left;
    width: 75%;
}
.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.rightcol{
    float: left;
    width: 25%;
    padding-left: 20px;
}
.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}
.row::after{
    content: "";
    clear: both;
    display: block;
}
@media only screen and (max-width:980px){
    .leftcol, .rightcol{
        width: 100%;
        padding: 0;
    }
}